div.row
  .left-panel.col-md-2
    ul 
      li(ui-sref-active="active")
        a(ui-sref=".usuarios") Usuarios
      li(ui-sref-active="active")
        a(ui-sref=".roles") Roles
      li(ui-sref-active="active")
        a(ui-sref=".opciones") Opciones
      li(ui-sref-active="active")
        a(ui-sref=".proveedores") Proveedores  
  .col-md-8
    div(ui-view)