doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  base(href='/')
  title Pick 'n' Go
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
body(ng-app="pickngoApp", ng-strict-di='true')
  //if lt IE 7
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
  
  div
    include ../components/navbar/navbar.jade
    div(ui-view='')
    script(src='//localhost:35729/livereload.js')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();