.form-group
  label(for="search") Envia un mensaje a:
  .input-group 
    input.form-control(type='text', ng-model='busqueda', placeholder="Buscar usuario")
    span.input-group-btn
      button.btn(type='button',ng-click="buscar()")
        span.fa.fa-search
.form-group
  div.list-group.pre-scrollable
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Dylan Gir贸n
        span.text-muted  dgiron
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Pedro Sola
        span.text-muted  psola
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Dylan Gir贸n
        span.text-muted  dgiron
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Pedro Sola
        span.text-muted  psola
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Dylan Gir贸n
        span.text-muted  dgiron
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Pedro Sola
        span.text-muted  psola
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Dylan Gir贸n
        span.text-muted  dgiron
    a.list-group-item(href="#")
      div(style='width:50px;display:inline-block;top;margin-left:5px')
        img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
      div(style='width:calc(100% - 60px);display:inline-block;margin-left:5px')
        br
        label Pedro Sola
        span.text-muted  psola
          