.whiteBox
  .inner
    h4.text-center {{receptor.nombres}} {{receptor.apellidos}}
    br
    p.text-muted(ng-show="mensajes.length == 0") Aún no tienes mensajes con este usuario
    .pre-scrollable
      .col-xs-12(ng-repeat='mensaje in mensajes ')
        .chatWrap.row
          .col-xs-3(ng-show='mensaje.id_usuario == currentUser.id_usuario')
          .chatBox.col-xs-7
            .innerChat
              .arrow
              .box
                label.cDate {{mensaje.fecha}}
                p {{mensaje.mensaje}}  
    .inner
      h3.fieldTitle Responder
    form.wrapfield(name="chatForm", novalidate='', ng-submit='enviarMensaje(mensajeRespuesta)' role='form')
      .input-text
        textarea.textField(placeholder='Escribe un mensaje...', ng-model='mensajeRespuesta')
      .clear
      input.btn.btn-info.pull-right(type='submit', value='Enviar', ng-disabled='!mensajeRespuesta')
      .clear
