div.list-group
  a.list-group-item(href="#", ng-click="abrirConversacion(conversacion)", ng-repeat='conversacion in conversaciones')
    div(style='width:50px;display:inline-block;vertical-align:top;margin-left:5px')
      img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
    div(style='width:calc(100% - 60px);display:inline-block;vertical-align: top; margin-left:5px')
      span
        label {{conversacion.nombres}} {{conversacion.apellidos}}
        span.text-muted  {{conversacion.usuario}}
      .pull-right  
        small.text-muted {{conversacion.fecha}}
      p {{conversacion.mensaje}}