div.list-group
  a.list-group-item(href="#", ng-click="setView('conversacion')")
    div(style='width:50px;display:inline-block;vertical-align:top;margin-left:5px')
      img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
    div(style='width:calc(100% - 60px);display:inline-block;vertical-align: top; margin-left:5px')
      span
        label Dylan Girón
        span.text-muted  dgiron
      .pull-right  
        small.text-muted 30 de jul.
      p Hola amigo
  a.list-group-item(href="#")
    div(style='width:50px;display:inline-block;vertical-align:top;margin-left:5px')
      img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
    div(style='width:calc(100% - 60px);display:inline-block;vertical-align: top; margin-left:5px')
      span
        label Juan Perez
        span.text-muted  jperez
      .pull-right  
        small.text-muted 12 de jul.
      p Que onda
  a.list-group-item(href="#")
    div(style='width:50px;display:inline-block;vertical-align:top;margin-left:5px')
      img.img-circle(src='public/img/usuarios/default.jpg' style="width:50px;height:auto")
    div(style='width:calc(100% - 60px);display:inline-block;vertical-align: top; margin-left:5px')
      span
        label Alex Guzman
        span.text-muted  alexG1998
      .pull-right  
        small.text-muted 10 de jul.
      p Precio de zapatos