div
  button.btn(ng-click='openEditarOpciones(1)') Opciones
  table.table.table-bordered.table-striped.table-condensed(ng-table='table', show-filter='false')
    tr(ng-repeat='row in $data')
      td(data-title="'ID'", filter="{id_tipo: 'number'}", sortable="'id_tipo'") {{row.id_tipo}}
      td(data-title="'Nombre'", filter="{descripcion: 'text'}", sortable="'descripcion'") {{row.descripcion}}
      td(data-title="'Acciones'", width='50') 
        button.btn(ng-click='openEditarOpciones(row.id_tipo)') Opciones