div
  table.table.table-bordered.table-striped.table-condensed(ng-table='table', show-filter='false')
    tr(ng-repeat='row in $data')
      td(data-title="'ID'", filter="{id_tipo: 'number'}", sortable="'id'") {{row.id}}
      td(data-title="'Nombre'", filter="{nombre: 'text'}", sortable="'nombre'") {{row.nombre}}
      td(data-title="'Descripcion'", filter="{descripcion: 'text'}", sortable="'descripcion'") {{row.descripcion}}
      td(data-title="'Tipo'", filter="{nombre_tipo: 'text'}", sortable="'nombre_tipo'") {{row.nombre_tipo}}