
.pageContent.dashboardWrap
  .container
    h2.pageTitle.pull-left Departamentos
    .clear
    .col-lg-3.col-md-3.col-sm-3
      .whiteBox.dshadow
        .inner
          .icon.pull.pull-left
            i.fa.fa-plus-square
          .rBox.pull-right
            h3 Departamentos
            span {{countDeptos}}
            a.Cbtn.yellow.pull-right.nmb(href='', ui-sref='panelAdmin') Ver
          .clear
    .col-lg-3.col-md-3.col-sm-3
      .whiteBox.dshadow
        .inner
          .icon.pull.pull-left
            i.fa.fa-shopping-cart
          .rBox.pull-right
            h3 Mis Productos
            span {{countProductos}}
            a.Cbtn.yellow.pull-right.nmb(ui-sref='productoUsuario') Ver
          .clear
    .col-lg-3.col-md-3.col-sm-3
      .whiteBox.dshadow
        .inner
          .icon.pull.pull-left
            i.fa.fa-comments
          .rBox.pull-right
            h3 Conversaciones
            span {{numConversaciones}}
            a.Cbtn.yellow.pull-right.nmb(href='', ng-click='openChat(0)') Ver
          .clear
    .col-lg-3.col-md-3.col-sm-3
      .whiteBox.dshadow
        .inner
          .icon.pull.pull-left
            i.fa.fa-users
          .rBox.pull-right
            h3 Usuarios
            span {{numUsuarios}}
            a.Cbtn.yellow.pull-right.nmb(href='') Ver
          .clear
    .col-lg-3.col-md-3.col-sm-3
      .whiteBox.dshadow
        .inner
          .icon.pull.pull-left
            i.fa.fa-users
          .rBox.pull-right
            h3 Renglones
            span {{numUsuarios}}
            a.Cbtn.yellow.pull-right.nmb(ui-sref='renglones') Ver
          .clear
    .clear
    .col-lg-8.col-md-8.col-sm-7
      h3.daTitle Mis busquedas
      .whiteBox.dshadow        
        .table-responsive
          table.table.table-striped
            thead
              tr
                th Producto
                th Departamento
                th Categoría
                th Fecha de Ingreso
            tr(ng-repeat='producto in productos')
              td {{producto.producto}}
              td {{producto.nombre_departamento}}
              td {{producto.nombre_categoria}}
              td {{producto.fecha_ingreso}}
    .col-lg-4.col-md-8.col-sm-5
      h3.daTitle Chats
      .whiteBox
        .inner
          ul.msnBox(ng-repeat="chat in chats")
            li
              span.userIcon.pull-left
                i.fa.fa-user
              .content.pull-left
                h3(ng-if='currentUser.id_usuario == chat.id2') {{chat.nombres1}} {{chat.apellidos1}}
                h3(ng-if='currentUser.id_usuario == chat.id1') {{chat.nombres2}} {{chat.apellidos2}}
                h5 {{chat.fecha}}
              a.Cbtn.blue.pull-right(href='#', ng-click='openChat(chat)')
                i.fa.fa-arrow-right