include ../../../../templates/mixins.jade

.png-modal-content(ng-class='{load : load}')
  .panel.panel-default
    .panel-heading
      div
        h4 #{tipo} Rol
        button.navbar-link(type="button" class="close" aria-label="Close", ng-click='close()')
          span( aria-hidden="true") &times;
    .panel-body
      form(name='rolFrom', ng-submit='saveRol()')
      +form('rolFrom','saveRol()', 'Guardar')
        .row
          .col-xs-12
            +formGroup('nombre', 'rol', 'rolFrom', 'text')
            +formGroup('descripcion', 'rol', 'rolFrom', 'text')
