
.modal-header
  h4 &iquest;Est&aacute; seguro que desea realizar esta acci&oacute;n?
.modal-body
  button.btn.btn-success(ng-click='cerrar(true)') Aceptar
  button.btn.btn-danger(ng-click='cerrar(false)') Cancelar