
.pageContent
  .container
    h2.pageTitle.pull-left Mis Productos 
    a.Cbtn.blue.pull-left.addBtn(href='#', ui-sref='crearProducto') A&ntilde;adir Producto
    .clearfix
    .table-responsive
      table.table.table-striped
        thead
          tr
            th(align='center', style='font-size:18px')
              span
                i.fa.fa-image
            th Nombre
            th Rango de precio
            th Fecha de Ingreso
            th Categoria
            th(style='text-align:center') Editar
            th(style='text-align:center') Eliminar
        tr(ng-repeat='producto in productos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | limitTo: itemsPerPage')
          td
            img.img-responsive-2(ng-src='{{producto.url_img}}')
          td
            strong {{producto.producto}}
          td Q {{producto.precio_del}}  -  Q {{producto.precio_al}}
          td {{producto.fecha_ingreso}}
          td {{producto.nombre_categoria}}
          td(align='center')
            span.faicon.edit-btn
              i.fa.fa-edit(ui-sref='editarProducto({producto:producto})')
          td(align='center', ng-click='eliminarProducto(producto.id)')
            span.faicon.remove-btn
              i.fa.fa-remove
    div.text-center          
      ul.pagination(uib-pagination='', items-per-page='5' total-items='productos.length', ng-model='currentPage')