br
.container-fluid
  .row
    .col-md-8
      .input-group.col-md-4
        input.form-control(type='text', placeholder='Buscar Producto', ng-model='busqueda')
        span.input-group-btn
          button.btn.btn-info(type='submit', ng-disabled='!busqueda')
            span.fa.fa-search
      br          
    .col-md-8
      div
        table.table.table-bordered.table-striped.table-condensed(ng-table='table', show-filter='false')
          tr(ng-repeat='row in $data')
            td(data-title="'ID'", filter="{id_producto: 'number'}", sortable="'id_producto'") {{row.id_producto}}
            td(data-title="'Producto'", filter="{producto: 'text'}", sortable="'producto'") {{row.producto}}
            td(data-title="'Usuario'", filter="{usuario: 'text'}", sortable="'usuario'") {{row.usuario}}
            td(data-title="'Categoria'", filter="{categoria: 'text'}", sortable="'categoria'") {{row.categoria}}
            td(data-title="'Precio desde'", filter="{precio_del: 'text'}", sortable="'precio_del'") Q{{row.precio_del}}
            td(data-title="'Precio hasta'", filter="{precio_al: 'text'}", sortable="'precio_al'") Q{{row.precio_al}}
            td(data-title="'Fecha de Ingreso'", filter="{fecha_ingreso: 'text'}", sortable="'fecha_ingreso'") {{row.fecha_ingreso}}
            td(data-title="'Fecha Límite'", filter="{fecha_limite: 'text'}", sortable="'fecha_limite'") {{row.fecha_limite}}
            td(data-title="'Conversar'", width='100')
              button.btn.btn-xs.btn-info(ng-click='abrirConversacion(row)', style="margin:auto; display: block;")
                span.fa.fa-comment